//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:800&display=swap');

h1, h2, h3, h4{
  font-family: "Work Sans", sans-serif;
}

h1{
  font-weight: 900;
}

h2{
  font-weight: 600;
}

h3{
  font-weight: 400;
}

.btn{
  border-color: black;
  min-width: 40px;
  max-width: 200px;
  height: 40px;
  display: block;
  border-radius: 6px;
  margin: 5% 0;
  padding: 8px;
  font-weight: 900;
  transition: 0.15s ease-in-out;
  background-color: lightblue;

  &:hover{
    transform: translateY(-5px);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.5);
  }
}

body{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  .App {
    padding: 2%;
  

    .formAjoutUtilisateur{
      border: 2px solid black;
      max-width: 350px;
      padding: 15px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
  
      input{
        height: 25px;
        margin-bottom: 8px;
        padding-left: 5px;
      }
    }

    .grilleMembres{
      display: flex;
      flex-wrap: wrap;

      .membre{
        width: 150px;
        margin: 0 15px;
        padding: 5px;
        border: 2px solid black;
        
        h2{
          text-align: center;
        }

        .btn{
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }
}