//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:800&display=swap');

$bleu : #42adf5;
$gris : #808080;

html{
  background-color: rgba(0,0,0,0.1);
}

body{
  margin: 0;
}

body, p, span, input, textarea, label{
  font-family: "Montserrat";
  font-size: 16px;
}

h1, h2, h3, h4{
  font-family: "Work Sans", sans-serif;
}

h1{
  font-weight: 900;
}

h2{
  font-weight: 600;
}

h3{
  font-weight: 400;
}

label{
  display: block;
  color: black;
  margin-bottom: 3px;
}

input{
  border: 0px;
  width: 245px;
  height: 30px;
  padding-left: 5px;
  border-bottom: 3px solid white;
  transition: 0.15s ease-in-out;

  &:focus{
    border-bottom: 3px solid $bleu;
    outline: none;
  }
}

.btn{
  display: block;
  width: 100%;
  height: 40px;
  margin: 5% 0;
  padding: 8px;
  font-weight: 900;
  border: 0px;
  color: white;
  transition: 0.15s ease-in-out;
  background-color: $bleu;
  text-transform: uppercase;

  &:hover{
    transform: translateY(-3px);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
  }

  &:focus{
    outline: none;
    transform: translateY(-3px);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
  }
}

body{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;

  .connexionBox{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 250px;
    margin: 0 auto;
  }

  .chatBox {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;

    &__header{
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      &__title{
        text-align: center;
        margin: 0;
      }
      
      &__disconnect{
          display: block;
          height: 32px;
          width: 32px;

          &:hover{
            img{
              transform: translateY(-5px);
            }
          }
  
          img{
            display: block;
            max-width: 100%;
            transition: 0.15s ease-out;
          }
      }
    }

    &__container{
      .messages{
        height: 60vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;

        &__container{
          display: flex;
          flex-direction: column;
          padding-bottom: 15px;
        }

        .not-userMessage, .userMessage{
          margin: 8px;
          text-align: left;
          flex-direction: column;
          display: flex;
          word-wrap: break-word;
          
          &__pseudo{
            font-size: 12px;
          }

          &__messageContent{
            margin: 0;
            padding: 6px 12px;
            border-radius: 8px;
            max-width: 75%;
            position: relative;

            &:after{
              content: "";
              position: absolute;
              width: 20px;
              height: 8px;
              clip-path: polygon(93% 0, 0 0, 100% 91%);
            }
          }
        }

        .not-userMessage{
          align-items: flex-start;
          
          &__messageContent{
            background-color: $gris;
            color: white;

            &:after{
              left: 3px;
              bottom: -8px;
              background-color: #808080;
              transform: rotateY(180deg);    
            }
          }
        }
  
        .userMessage{
          display: flex;
          align-items: flex-end;


          &__messageContent{
            background-color:  $bleu;

            &:after{
              right: 3px;
              bottom: -8px;
              background-color: $bleu
            }
          }
        }
      }
  
      .formMessage{
        textarea{
          padding: 5px;
          width: 490px;
          height: 80px;
          resize: none;
          border: 0px;
          border-bottom: 5px solid $bleu;
  
          &:focus{
            outline: none;
          }
        }
  
        .charRestants{
           text-align: right;
        }
  
        .btn{
          margin-top: 10px;
          margin-bottom: 0;
          width: 90vw;
          margin: 0 auto;

          @media(min-width: 500px){
            width: 100%;
          }

        }
      }
    }
  }
}

.fade-enter{
  opacity: 0;
  transform: translateY(15px);
  transition: 1s ease-in-out;
}

.fade-enter-active{
  opacity: 1;
  transform: translateY(0);
}