//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans&display=swap');

$bleu: #42adf5;
$gris: #808080;

body {
	margin: 0;
}

body,
p,
span,
input,
textarea,
label {
	font-family: "Montserrat";
	font-size: 16px;
}

h1,
h2,
h3,
h4 {
	font-family: "Work Sans", sans-serif;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 600;
}

h3 {
	font-weight: 400;
}

label {
	display: block;
	color: black;
	margin-bottom: 3px;
}

input {
	border: 1px solid rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 30px;
	padding-left: 5px;
	transition: 0.15s ease-in-out;

	&:focus {
		border-bottom: 3px solid $bleu;
		outline: none;
	}
}

.btn {
	display: block;
	width: 100%;
	height: 40px;
	margin: 5% 0;
	padding: 8px;
	font-weight: 900;
	border: 0px;
	color: white;
	transition: 0.15s ease-in-out;
	background-color: $bleu;
	text-transform: uppercase;

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
	}

	&:focus {
		outline: none;
		transform: translateY(-3px);
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
	}
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}

.text-center {
	text-align: center;
}

.header {
	&__navigation {
		&__liste {
			list-style-type: none;
			padding: 0;
			display: flex;
			margin-top: 25px;

			li {
				margin-right: 25px;
				font-size: 18px;

				a {
					transition: 0.15s ease-in-out;
					text-decoration: none;
				}

				.icon {
					margin-right: 5px;
				}
			}
		}
	}
}

.moviesList {
	&__movieGrid {
		&__item {
			position: relative;

			&:hover {
				img {
					filter: brightness(50%) drop-shadow(0 3px 8px black);
				}

				.icon,
				.inWatchlist {
					right: 25px;
					opacity: 1;
				}
			}

			h2 {
				height: 55px;
				overflow: hidden;
				color: black;
				font-size: 22px;
			}

			img {
				display: block;
				width: 100%;
				transition: all 0.25s ease-in-out;
				filter: brightness(100%) drop-shadow(0 3px 3px black);
				margin-bottom: 25px;
			}

			.inWatchlist {
				position: absolute;
				top: 75px;
				right: 0;
				font-size: 13px;
				color: white;
				font-weight: bold;
				transition: 0.15s ease-in-out;
				opacity: 0;

				.checkIcon {
					margin-left: 5px;
					font-size: 18px;
					color: #00ff00;
				}
			}

			.icon {
				position: absolute;
				top: 75px;
				right: 0;
				font-size: 32px;
				color: white;
				transition: 0.15s ease-in-out;
				opacity: 0;

				&:hover {
					transform: translateY(-4px);
					filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.4));
					cursor: pointer;
				}
			}
		}
	}
	&__pageSelect {
		display: flex;
		justify-content: center;

		.pageChangeBtn {
			display: block;
			margin: 0 5px;
			color: blue;
			text-decoration: underline;
			transition: 0.25s ease-in-out;

			&:hover {
				color: blueviolet;
				cursor: pointer;
			}

			&--current {
				display: block;
				margin: 0 5px;
			}
		}
	}

	.recherche {
		position: relative;

		&__liste {
			background-color: white;
			width: 100%;
			position: absolute;
			top: 58px;
			left: 0;
			box-shadow: 0px 0px 3px black;
			z-index: 10;

			&__item {
				margin: 5px 0 5px 0;
				display: flex;
				padding: 6px;
				transition: 0.15s ease-in-out;

				&:hover {
					color: white;
					font-weight: bold;
					background-color: $gris;
					cursor: pointer;

					.movieInfos__isInWatchlist__icon {
						color: #00ff00;
					}
				}

				.image {
					width: 64px;
					height: 64px;
					overflow: hidden;
					display: flex;

					img {
						display: block;
						width: 100%;
						object-fit: cover;
					}
				}

				.movieInfos {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin-left: 15px;

					&__title {
						margin: 0;
						font-size: 18px;
						font-weight: bold;
					}

					&__addButton,
					&__isInWatchlist {
						display: flex;
						font-size: 16px;
						margin: 0;

						&__icon {
							display: block;
							margin-top: 3px;
							margin-right: 10px;
						}
					}

					&__isInWatchlist {
						&__icon {
							transition: 0.15s ease-in-out;
							color: green;
						}
					}
				}
			}
		}
	}
}

.sectionWatchList {
	&__watchList {
		&__item {
			padding: 15px 0;
			border-bottom: 3px solid rgba(0, 0, 0, 0.4);

			&:last-child {
				border: none;
			}

			.title {
				font-weight: bold;
				font-size: 18px;
			}

			img {
				display: block;
				height: 100%;
			}

			.actions {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: flex-end;

				.icone {
					font-size: 28px;
					text-align: center;
					transition: 0.15s ease-in-out;
					width: 32px;

					&:hover {
						transform: translateY(-4px);
						filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
					}

					&--green {
						color: green;
					}
				}
			}
		}
	}

	&__seenList {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__title {
			margin-top: 75px;
		}

		&__item {
			width: 100%;
			display: flex;
			border-bottom: 3px solid rgba(0, 0, 0, 0.4);
			padding: 15px 0;

			@media (min-width: 768px) {
				width: 49%;
			}

			.title {
				font-weight: bold;
				font-size: 18px;
			}

			img {
				padding: 0;
				display: block;
			}

			.actions {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: flex-end;

				.icone {
					font-size: 24px;
					text-align: center;
					transition: 0.15s ease-in-out;
					width: 32px;

					&:hover {
						transform: translateY(-4px);
						filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
					}

					&--red {
						color: red;
					}
				}
			}
		}
	}
}
